body#install {
    margin: 0 auto;
    color: #A3A3A3;
    background: url(/images/fraym/fraym-bg.jpg);
    background-size: cover;
}

#wrapper {
    max-width: 430px;
    width: 100%;
    margin: 20px auto;
    padding: 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.text-center {
    text-align: center;
    margin: 10px 0;
}

.text-center img {
    display: inline-block;
}

form input {
    background-color: rgba(0, 0, 0, 0.08) !important;
    border: 0 !important;
    -webkit-border-radius: 4px 0 0 4px !important;
    -moz-border-radius: 4px 0 0 4px !important;
    -ms-border-radius: 4px 0 0 4px !important;
    -o-border-radius: 4px 0 0 4px !important;
    border-radius: 4px 0 0 4px !important;
    color: #A3A3A3 !important;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

legend {
    color: #fff;
}