.DS_Store
*.idea*
.composer
/Config.php
Cache/Sessions/*
Cache/Pages/*
Cache/DoctrineProxies/*
Cache/*
Vendor/*
Public/consolidated/*
Public/images/deposit/*
!.gitkeep
composer.lock
composer-setup.php
composer.phar
/Test
/Extension
/Template
/Hook
/Fraym